* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

html body {
  width: 100%;
  height: 100vh;
}

html body .display-none {
  display: none;
}

html body .bs-tooltip-start .tooltip-arrow::before {
  border-left-color: #04b4e0;
}

html body .tooltip-inner {
  background: #04b4e0;
}

html body .lm-animated-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -4;
}

html body .container {
  border-radius: 1.25rem;
  background-color: #444;
  box-shadow: 0 0 100px 5px black;
}

html body .container .person-profile {
  position: relative;
  width: 35%;
  background-color: #444;
  z-index: 1;
}

html body .container .person-profile .person-profile-imagewrapper {
  position: relative;
}

html body .container .person-profile .person-profile-imagewrapper::after {
  position: absolute;
  opacity: 0.3;
  top: 7%;
  left: 7%;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  content: "";
  background-image: -webkit-repeating-radial-gradient(center center, #fff, #fff 1px, transparent 0px, transparent 100%);
  background-size: 5px 5px;
  z-index: -1;
}

html body .container .person-profile .img-fluid {
  border: 2px solid #f7f7f7;
}

html body .container .person-profile .list-group-item {
  position: relative;
  background: none;
  border: none;
  padding: 0.5rem;
  width: 35px;
  height: 35px;
}

html body .container .person-profile .list-group-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

html body .container .person-profile .list-group-item a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f5f5f5;
}

html body .container .person-profile .person-profile-download a {
  color: beige;
}

html body .container .person-profile .person-profile-download a:hover {
  background-color: white;
  color: aqua;
}

html body .container .person-profile .copyrights {
  position: absolute;
  bottom: 1rem;
  font-size: 0.6rem;
}

html body .container .person-content-area {
  width: 65%;
  height: 100%;
  background-color: #222;
  border-radius: 1.25rem;
}

html body .container .person-content-area .person-homepage {
  position: relative;
}

html body .container .person-content-area .person-homepage .person-homepage-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html body .container .person-content-area .person-homepage .person-homepage-wrapper .subtitle2 {
  display: none;
}

html body .container .person-content-area .person-homepage .person-homepage-wrapper .animate__animated {
  display: block;
  animation-duration: 2s;
}

html body .container .person-content-area .person-aboutMe {
  z-index: 0;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-header h1 {
  z-index: 1;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-header h1 span {
  position: relative;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-header h1 span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 88%;
  height: 65%;
  content: "";
  background-image: -webkit-repeating-radial-gradient(center center, #04b4e0 0px, #04b4e0 1px, transparent 0px, transparent 100%);
  background-size: 6px 6px;
  z-index: -1;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-header .person-aboutMe-header-content p {
  width: 60%;
  height: 100%;
  padding: 8px 0;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-header .person-aboutMe-header-content .list-group {
  width: 40%;
  height: 100%;
  padding: 0;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-header .person-aboutMe-header-content .list-group .list-group-item {
  color: #fff;
  background-color: #0000;
  border: none;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-whatIdo {
  margin-top: 50px;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-whatIdo h2 span {
  position: relative;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-whatIdo h2 span::after {
  position: absolute;
  top: 50%;
  left: 65%;
  width: 60%;
  height: 50%;
  content: "";
  background-image: -webkit-repeating-radial-gradient(center center, #04b4e0 0px, #04b4e0 1px, transparent 0px, transparent 100%);
  background-size: 6px 6px;
  z-index: -1;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-whatIdo .person-aboutMe-whatIdo-content .lnr {
  font-size: 3rem;
  color: #04b4e0;
  margin-top: 1rem;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-whatIdo .person-aboutMe-whatIdo-content h3 {
  font-size: 1.5rem;
  padding: 1rem 0;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-testimonials .person-aboutMe-testimonials-header {
  margin-bottom: 2rem;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-testimonials .person-aboutMe-testimonials-header h3 {
  position: relative;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-testimonials .person-aboutMe-testimonials-header h3::after {
  position: absolute;
  top: 50%;
  left: 90%;
  width: 20%;
  height: 50%;
  content: "";
  background-image: -webkit-repeating-radial-gradient(center center, #04b4e0 0px, #04b4e0 1px, transparent 0px, transparent 100%);
  background-size: 6px 6px;
  z-index: -1;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-testimonials .person-aboutMe-testimonials-header button {
  margin: 0.2rem;
  color: #fff;
  background-color: #444;
  border: none;
  border-radius: 0.5rem;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  padding: 0.3rem;
  box-shadow: 0 0 2px #ccc;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-testimonials .person-aboutMe-testimonials-header button:hover {
  background-color: #04b4e0;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-testimonials .person-aboutMe-testimonials-content {
  white-space: nowrap;
  -ms-scrollbar: none;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-testimonials .person-aboutMe-testimonials-content::-webkit-scrollbar {
  display: none;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-testimonials .person-aboutMe-testimonials-content .card {
  scroll-snap-align: start;
  position: relative;
  display: inline-block;
  margin-top: 3rem;
  width: 49.5%;
  height: 100%;
  background-color: #0000;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-testimonials .person-aboutMe-testimonials-content .card .card-img-top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 30%;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-testimonials .person-aboutMe-testimonials-content .card .card-body {
  padding-top: 3rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-testimonials .person-aboutMe-testimonials-content .card .card-text {
  white-space: normal;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-clients .person-aboutMe-clients-header {
  margin-bottom: 2rem;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-clients .person-aboutMe-clients-header h3 {
  position: relative;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-clients .person-aboutMe-clients-header h3::after {
  position: absolute;
  top: 50%;
  left: 80%;
  height: 50%;
  width: 30%;
  content: "";
  background-image: -webkit-repeating-radial-gradient(center center, #04b4e0, #04b4e0 1px, transparent 0px, transparent 100%);
  background-size: 6px 6px;
  z-index: -1;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-clients .person-aboutMe-clients-header button {
  margin: 0.2rem;
  color: #fff;
  background-color: #444;
  border: none;
  border-radius: 0.5rem;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  padding: 0.3rem;
  box-shadow: 0 0 2px #ccc;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-clients .person-aboutMe-clients-header button:hover {
  background-color: #04b4e0;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-clients .person-aboutMe-clients-content {
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-clients .person-aboutMe-clients-content::-webkit-scrollbar {
  display: none;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-clients .person-aboutMe-clients-content .img-wrapper {
  position: relative;
  width: 20%;
  display: inline-block;
  scroll-snap-align: start;
  padding: 0 0.5rem;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-clients .person-aboutMe-clients-content .img-wrapper img {
  width: 100%;
  height: 100%;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-pricing {
  margin-top: 2rem;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-pricing h3 {
  margin: 2rem 0;
  position: relative;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-pricing h3::after {
  position: absolute;
  top: 50%;
  left: 10%;
  height: 50%;
  width: 6%;
  content: "";
  background-image: -webkit-repeating-radial-gradient(center center, #04b4e0, #04b4e0 1px, transparent 0px, transparent 100%);
  background-size: 6px 6px;
  z-index: -1;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-pricing .person-aboutMe-pricing-content .person-aboutMe-pricing-content-left {
  border: 1px solid #ccc;
  border-radius: 2rem;
  width: 48%;
  margin-right: 4%;
  padding: 2rem;
  background-color: #444;
  transition: transform 500ms;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-pricing .person-aboutMe-pricing-content .person-aboutMe-pricing-content-left:hover {
  transform: translateY(-2%);
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-pricing .person-aboutMe-pricing-content .person-aboutMe-pricing-content-left .btn {
  background-color: #0000;
  border: 1px solid #fff;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-pricing .person-aboutMe-pricing-content .person-aboutMe-pricing-content-left .btn:hover {
  color: #000;
  background-color: #fff;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-pricing .person-aboutMe-pricing-content .person-aboutMe-pricing-content-right {
  background-color: #444;
  border: 1px solid #ccc;
  width: 48%;
  border-radius: 2rem;
  padding: 2rem;
  transition: transform 500ms;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-pricing .person-aboutMe-pricing-content .person-aboutMe-pricing-content-right:hover {
  transform: translateY(-2%);
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-pricing .person-aboutMe-pricing-content .person-aboutMe-pricing-content-right h4 {
  position: relative;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-pricing .person-aboutMe-pricing-content .person-aboutMe-pricing-content-right h4::after {
  content: "";
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  height: 10%;
  background-color: #04b4e0;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-pricing .person-aboutMe-pricing-content .person-aboutMe-pricing-content-right .btn {
  background-color: #0000;
  border: 1px solid #04b4e0;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-pricing .person-aboutMe-pricing-content .person-aboutMe-pricing-content-right .btn:hover {
  background-color: #04b4e0;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-funFacts h3 {
  color: #fff;
  margin: 2rem 0;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-funFacts h3 span {
  position: relative;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-funFacts h3 span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  width: 50%;
  content: "";
  background-image: -webkit-repeating-radial-gradient(center center, #04b4e0, #04b4e0 1px, transparent 0px, transparent 100%);
  background-size: 6px 6px;
  z-index: -1;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-funFacts .person-aboutMe-funFacts-content {
  white-space: nowrap;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-funFacts .person-aboutMe-funFacts-content .card {
  margin-right: 1rem;
  padding: 2rem 0;
  display: inline-block;
  width: 30%;
  height: 100%;
  color: #fff;
  background-color: #444;
  border: 1px solid #ccc;
  border-radius: 1rem;
  transition: transform 500ms;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-funFacts .person-aboutMe-funFacts-content .card:hover {
  transform: translateY(-2%);
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-funFacts .person-aboutMe-funFacts-content .card span {
  font-size: 2rem;
  color: #04b4e0;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-funFacts .person-aboutMe-funFacts-content .card .card-body .card-title {
  font-size: 1rem;
}

html body .container .person-content-area .person-aboutMe .person-aboutMe-funFacts .person-aboutMe-funFacts-content .card .card-body .card-text {
  font-size: 2rem;
  color: #ccc;
}

html body .container .person-content-area .person-resume .person-resume-content .timepoint {
  position: relative;
}

html body .container .person-content-area .person-resume .person-resume-content .timepoint::before {
  position: absolute;
  top: 5%;
  left: 98%;
  width: 0.3rem;
  height: 0.3rem;
  background-color: #000;
  content: "";
  border: 0.1rem solid #04b4e0;
  border-radius: 50%;
  z-index: 1;
}

html body .container .person-content-area .person-resume .person-resume-content .timepoint::after {
  position: absolute;
  top: 4.5%;
  left: 97%;
  width: 0.4rem;
  height: 0.4rem;
  background-color: #04b4e09f;
  content: "";
  border-radius: 50%;
}

html body .navbar {
  position: absolute;
  left: 88%;
  top: 12%;
}

html body .navbar .list-group {
  background-color: #444;
}

html body .navbar .list-group .list-group-item {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0.4rem 0.8rem;
}

html body .navbar .list-group .list-group-item a {
  text-decoration: none;
}

html body .navbar .list-group .list-group-item a .active {
  color: #04b4e0;
}

html body .navbar .list-group .list-group-item a span {
  font-size: 1rem;
  color: #b5b6b7;
}

html body .navbar .list-group .list-group-item a span:hover {
  color: #04b4e0;
}
/*# sourceMappingURL=main.css.map */