.about-me {
  &-header {
    h2 {
      margin-bottom: 20px;
      span {
        position: relative;
        @include dotsDecoration(50%, 50%, 80%, 50%, $color-blue, 0);
      }
    }
  }
  &-whatIdo {
    h2 {
      margin-bottom: 20px;
      span {
        position: relative;
        @include dotsDecoration(50%, 50%, 80%, 60%, $color-blue, 0);
      }
    }
    .row {
      h3 {
        font-size: 20px;
        margin: 3px 0;
      }
      span {
        font-size: 36px;
        color: $color-blue;
        margin-bottom: 10px;
      }
    }
  }
  &-testimonials {
    margin-bottom: 50px;
    h3 {
      position: relative;
      @include dotsDecoration(50%, 20%, 12%, 60%, $color-blue, 0);
      margin-bottom: 20px;
    }
    .col-lg-2 {
      display: flex;
      justify-content: space-between;
    }
    &-content {
      .card {
        position: relative;
        display: inline-block;
        margin-top: 3rem;
        width: 100%;
        height: 100%;
        background-color: transparent;
        transition: transform 0.3s ease-in-out;
        -webkit-transition: transform 0.3s ease-in-out;
        -moz-transition: transform 0.3s ease-in-out;
        -ms-transition: transform 0.3s ease-in-out;
        -o-transition: transform 0.3s ease-in-out;
        .card-img-top {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          border-radius: 50%;
          width: 25%;
        }
        .card-body {
          padding-top: 3rem;
          border: 1px solid $text-color-white;
          border-radius: 1rem;
        }
        .card-text {
          white-space: normal;
        }
      }
      .owl-carousel {
        position: relative;
        .owl-nav {
          position: absolute;
          margin: 0;
          top: -60px;
          right: 0;
          button {
            border: 1px solid #444;
            width: 40px;
            height: 40px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            &:hover {
              background-color: $color-blue;
            }
            span {
              font-size: 30px;
              position: relative;
              bottom: 6px;
            }
          }
        }
      }
      .owl-dots {
        display: none;
      }
    }
  }
  &-clients {
    &-header {
      margin-bottom: 2rem;
      h3 {
        position: relative;
        @include dotsDecoration(50%, 10%, 10%, 50%, #04b4e0, 0);
      }
    }
    .img-wrapper {
      width: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .owl-carousel {
      position: relative;
      .owl-nav {
        position: absolute;
        margin: 0;
        top: -60px;
        right: 0;
        button {
          border: 1px solid #444;
          width: 40px;
          height: 40px;
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
          &:hover {
            background-color: $color-blue;
          }
          span {
            font-size: 30px;
            position: relative;
            bottom: 6px;
          }
        }
      }
    }
    .owl-dots {
      display: none;
    }
  }
  &-pricing {
    margin-top: 2rem;
    h3 {
      margin: 2rem 0;
      position: relative;
      @include dotsDecoration(50%, 10%, 6%, 50%, #04b4e0, 0);
    }
    &-content {
      &-left {
        border: 1px solid #ccc;
        border-radius: 2rem;
        width: 48%;
        margin-right: 4%;
        padding: 2rem;
        background-color: #444;
        transition: transform 500ms;
        &:hover {
          transform: translateY(-2%);
        }
        .btn {
          background-color: #0000;
          border: 1px solid #fff;
          &:hover {
            color: #000;
            background-color: #fff;
          }
        }
      }
      &-right {
        background-color: #444;
        border: 1px solid #ccc;
        width: 48%;
        border-radius: 2rem;
        padding: 2rem;
        transition: transform 500ms;
        &:hover {
          transform: translateY(-2%);
        }
        h4 {
          position: relative;
          &::after {
            content: '';
            position: absolute;
            top: 110%;
            left: 50%;
            transform: translateX(-50%);
            width: 20%;
            height: 10%;
            background-color: #04b4e0;
          }
        }
        .btn {
          background-color: #0000;
          border: 1px solid #04b4e0;
          &:hover {
            background-color: #04b4e0;
          }
        }
      }
    }
  }
  &-funFacts {
    h3 {
      color: #fff;
      margin: 2rem 0;
      span {
        position: relative;
        @include dotsDecoration(50%, 50%, 50%, 50%, #04b4e0, 0);
      }
    }
    &-content {
      white-space: nowrap;
      .card {
        margin-right: 1rem;
        padding: 2rem 0;
        display: inline-block;
        width: 30%;
        height: 100%;
        color: #fff;
        background-color: #444;
        border: 1px solid #ccc;
        border-radius: 1rem;
        transition: transform 500ms;
        -webkit-transition: transform 500ms;
        -moz-transition: transform 500ms;
        -ms-transition: transform 500ms;
        -o-transition: transform 500ms;
        &:hover {
          transform: translateY(-2%);
        }
        span {
          font-size: 2rem;
          color: #04b4e0;
        }
        .card-body {
          .card-title {
            font-size: 1rem;
          }
          .card-text {
            font-size: 2rem;
            color: #ccc;
          }
        }
      }
    }
  }
  .list-group {
    &-item {
      background-color: transparent;
      border: none;
      color: $text-color-white;
      padding: 0 0 5px 5px;
      span {
        margin-right: 5px;
      }
    }
  }
}
