.portfolio {
  &-title {
    position: relative;
    margin-bottom: 30px;
    @include dotsDecoration(50%, 10%, 10%, 80%, $color-blue, 0);
  }
  .list-group {
    margin-bottom: 30px;
    &-item {
      background-color: transparent;
      border: none;
      a {
        font-size: 12px;
      }
    }
  }
  .portfolio-cards {
    .portfolio-card {
      flex: 1 1 30%;
      min-width: 110px;
      figure {
        position: relative;
        width: 100%;
        &:hover {
          span,
          i {
            opacity: 1;
          }
        }
        figcaption {
          margin-top: 5px;
        }
        .img-wrapper {
          overflow: hidden;
          img {
            width: 100%;
            transition: transform 0.5s ease-in-out;
            -webkit-transition: transform 0.5s ease-in-out;
            -moz-transition: transform 0.5s ease-in-out;
            -ms-transition: transform 0.5s ease-in-out;
            -o-transition: transform 0.5s ease-in-out;
            &:hover {
              transform: scale(1.3);
              -webkit-transform: scale(1.3);
              -moz-transform: scale(1.3);
              -ms-transform: scale(1.3);
              -o-transform: scale(1.3);
            }
          }
        }

        span,
        i {
          position: absolute;
          top: 5%;
          font-size: 10px;
          background-color: #000;
          opacity: 0;
          transition: all 0.5s ease-in-out;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -ms-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
        }
        span {
          left: 5%;
          padding: 0 5px;
          font-size: 10px;
        }
        i {
          right: 5%;
          padding: 5px;
          color: $color-blue;
          font-size: 15px;
        }
      }
    }
  }
}
